<h1>Tasks</h1>

<mat-expansion-panel [expanded]="false" hideToggle>
  <mat-expansion-panel-header>
    <mat-icon>post_add</mat-icon>
    <mat-panel-title>
       Add new task
    </mat-panel-title>
    <mat-panel-description>
      Click to input description and priority
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-form-field class="example-full-width">
    <textarea #taskDescription matInput placeholder="Input task description"></textarea>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Choose task priority:</mat-label>
    <mat-select [(value)]="selectedPriority">
      <mat-option value="LOW">Low</mat-option>
      <mat-option value="NORMAL">Normal</mat-option>
      <mat-option value="HIGH">High</mat-option>
      <mat-option value="URGENT">Urgent</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
<!--  TODO: delete it:-->
  <br>
  <mat-form-field class="example-full-width">
    <textarea #taskExecutor matInput placeholder="Input task executorID"></textarea>
  </mat-form-field>
  <!-- (click) passes input value to add() and then clears the input -->
  <button mat-button (click)="add(taskDescription.value, taskExecutor.value); taskDescription.value=''">
    Save task
  </button>
</mat-expansion-panel>

<h2>Task list:</h2>

<mat-expansion-panel *ngFor="let task of tasks" [expanded]="false" hideToggle>
  <mat-expansion-panel-header>
    <mat-icon>assignment</mat-icon>
    <mat-panel-title>
      {{task.description}}
<!--      <mat-icon *ngIf="task.priority == isUrgent">watch_later</mat-icon>   &lt;!&ndash; TODO: why doesn't work??? &ndash;&gt;-->
    </mat-panel-title>
    <mat-panel-description>

    </mat-panel-description>
  </mat-expansion-panel-header>

  <mat-horizontal-stepper #stepper>
    <mat-step>
        <ng-template matStepLabel>Update task</ng-template>

        <mat-label>taskID: </mat-label>
        {{task.taskID}}
        <br>
        <mat-label>Priority: </mat-label>
        {{task.priority}}
        <br>
        <mat-label>Completed: </mat-label>
        {{task.completed}}
        <br>
        <mat-label>Description: </mat-label>
        {{task.description}}
        <br>
        <mat-label>ExecutorID: </mat-label>
        {{task.executorID}}
        <br>
        <br>
        <br>
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Update task description" [(ngModel)]="task.description"></textarea>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Update task priority:</mat-label>
          <mat-select [(value)]="task.priority">
            <mat-option value="LOW">Low</mat-option>
            <mat-option value="NORMAL">Normal</mat-option>
            <mat-option value="HIGH">High</mat-option>
            <mat-option value="URGENT">Urgent</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <button mat-button (click)="update(task);">
          Update task
        </button>
        <div align="right">
          <button class="delete" title="delete task"
                  (click)="delete(task)"><mat-icon>delete_sweep</mat-icon>
          </button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Send report to manager</ng-template>
        <mat-label>Please, write the report for your manager:</mat-label>
        <br>
        <mat-form-field class="example-full-width">
          <textarea #taskReport matInput placeholder="Input task report"></textarea>
        </mat-form-field>
        <br>
<!--        TODO: delete managerID field and param-->
        <mat-form-field class="example-full-width">
          <textarea #managerID matInput placeholder="Input your managerID"></textarea>
        </mat-form-field>
        <br>
        <button mat-button (click)="sendToManager(task, managerID.value); taskReport.value=''">
          Send to manager
        </button>
    </mat-step>
  </mat-horizontal-stepper>
</mat-expansion-panel>
